{% extends "events/base_event.html" %}
{% load crispy_forms_tags i18n %}

{% block extrastyle %}
{{ block.super }}
{% include "form_includes.html" %}
{% endblock %}


{% block contenthead %}<a href="{% url "eventregistration_information" event.pk %}">{{ event.title }}</a>: Ændre tilmelding{% endblock %}

{% block content %}

<form method="POST" class="form-horizontal" action="">{% csrf_token %}

{% include "eventregistration/parts/options.html" %}

{{ signup_render|safe }}

<div class="form-actions">
	<input type="submit" class="btn btn-primary" name="Ændre" value="Ændre tilmelding" />
</div>

</form>

{% endblock %}